/* Universal Styles */

html,
body {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  margin: 0;
  background-color: white;
}

.container {
  max-width: 960px;
  margin: 0px auto;
}

div {
  display: block;
}

h1, h4 {
  font-weight: bold;
}

/* Header */

header {
  background-color: black;
  color: white;
}

header .container {
  display: flex;
  align-items: center;
  padding: 0.66rem 0 0.66rem 0.5rem;
}

header img {
  height: 1.5rem;
  padding-right: 1rem;
}

header span {
  font-size: 1rem;
}

/* Hero */

.hero {
  background-image: url(../images/moto.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
}

.new-arrival {
  position: relative;
  left: 0;
  top: 9rem;
  background-color: black;
  color: white;
  width: 20rem;
  padding: 2rem 3rem;
}

.new-arrival h4 {
  font-size: 1rem;
  padding-bottom: 0.25rem;
}

.new-arrival h1 {
  font-size: 2rem;
}

/* Navigation */

nav {
  background-color: firebrick;
  color: white;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 0;
}

/* Products */

.products .container {
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
}

.item {
  border: 4px solid black;
  width: 30%;
}

.item .item-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  padding: 2rem 0;
}

.item .item-text {
  background-color: black;
  color: white;
  padding: 0.5rem 0;
  text-align: center;
}

.item-image img {
  max-width: 8rem;
}
